/* line 6, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 10, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.logotop {
  background-image: url("logo1.png");
  background-size: 70%;
  background-repeat: no-repeat;
  width: 35%;
  height: 0;
  padding-top: 66.64%;
  margin-top: -64%;
  margin-left: 35%;
}

/* line 20, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.titulo {
  text-align: center;
  margin-top: 10%;
}

/* line 24, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.tira {
  width: 80%;
  height: 80%;
  position: relative;
  left: 18%;
}

/* line 32, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.container1 {
  background-image: url("1.png");
  height: 60%;
  width: 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  float: left;
}

/* line 43, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.texto1 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.0vw;
  line-height: 1.0vw;
}

/* line 52, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.container2 {
  float: left;
  display: inline-block;
  background-image: url("2.png");
  height: 60%;
  width: 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  margin-left: -6%;
}

/* line 63, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.texto2 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.0vw;
  line-height: 1.0vw;
}

/* line 72, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.container3 {
  float: left;
  display: inline-block;
  background-image: url("3.png");
  height: 60%;
  width: 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  top: -0.125%;
  margin-left: -6%;
}

/* line 84, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.texto3 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.0vw;
  line-height: 1.0vw;
}

/* line 95, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.container4 {
  background-image: url("4.png");
  height: 60%;
  width: 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  float: left;
}

/* line 106, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.texto4 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.0vw;
  line-height: 1.0vw;
}

/* line 115, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.container5 {
  float: left;
  display: inline-block;
  background-image: url("5.png");
  height: 60%;
  width: 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  margin-left: -6%;
}

/* line 126, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.texto5 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.0vw;
  line-height: 1.0vw;
}

/* line 135, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.container6 {
  float: left;
  display: inline-block;
  background-image: url("6.png");
  height: 60%;
  width: 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  top: -0.125%;
  margin-left: -6%;
}

/* line 147, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.texto6 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.0vw;
  line-height: 1.0vw;
}

/* line 158, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.shop {
  background-image: url("Tienda.png");
  background-size: 70%;
  background-repeat: no-repeat;
  width: 5%;
  height: 0;
  padding-top: 66.64%;
  margin-top: 3%;
  margin-left: 75%;
  z-index: 20;
}

/* line 170, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.share {
  background-image: url("Share.png");
  background-size: 70%;
  background-repeat: no-repeat;
  width: 5%;
  height: 0;
  padding-top: 66.64%;
  margin-top: -66.64%;
  margin-left: 80%;
  z-index: 20;
}

/* line 182, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.buscar {
  background-image: url("Buscar.png");
  background-size: 70%;
  background-repeat: no-repeat;
  width: 5%;
  height: 0;
  padding-top: 66.64%;
  margin-top: -66.64%;
  margin-left: 85%;
  z-index: 20;
}

/* line 193, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.login {
  background-image: url("sign-in.png");
  background-size: 50%;
  background-repeat: no-repeat;
  width: 5%;
  height: 0;
  padding-top: 66.64%;
  margin-top: -66.64%;
  margin-left: 91%;
  z-index: 20;
}

/* line 205, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.nav {
  list-style-type: none;
  margin-top: -57%;
}

/* line 210, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.nav li {
  float: left;
  font-family: "Parisian";
  margin-right: 5%;
}

/* line 215, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.mision {
  margin-top: 10%;
  width: 95%;
  margin-left: 2.5%;
}

/* line 220, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.titleteo {
  font-family: "Parisian";
  font-size: 2.8vw;
}

/* line 226, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.nombrepersonaje {
  font-family: "Parisian";
  font-size: 2.3vw;
  margin-top: 5%;
}

/* line 232, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.pmision {
  font-family: "Parisian";
  font-size: 1.8vw;
  line-height: 1.8vw;
  text-align: justify;
}

/* line 240, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.proximamente {
  background-image: url("tienda.png");
  background-repeat: no-repeat;
  background-size: 50%;
  width: 95%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 25%;
  height: 100%;
}

/* line 251, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.colabora {
  background-image: url("colabora.png");
  background-repeat: no-repeat;
  background-size: 50%;
  width: 95%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25%;
  height: 150%;
}

/* line 262, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.headerline {
  background-image: url("headerline.png");
  background-repeat: no-repeat;
  position: relative;
  left: -2%;
  top: 5%;
  width: 102%;
  height: 32px;
  z-index: 6;
}

/* line 273, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.mainstage {
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
  height: 70%;
  border-style: solid;
  border-width: 1px;
}

/* line 282, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.controlsdiv {
  width: 57%;
  height: 20%;
  margin-left: 18.1%;
  margin-top: 7.5%;
  background-color: #6fafd4;
  box-shadow: 5px 5px 2px #888888;
}

/* line 291, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.nav-bottom {
  list-style-type: none;
  position: relative;
  top: 90%;
  margin-left: 40%;
}

/* line 299, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.nav-bottom li {
  float: left;
  font-family: "Parisian";
  margin-right: 3%;
}

/* line 304, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.footerline {
  background-image: url("footer.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  left: -2%;
  top: 7%;
  width: 102%;
  height: 50%;
  z-index: 6;
  margin-bottom: 5%;
}

/* line 318, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/home.css.scss */
.Vector_Smart_Object_copy {
  background-image: url("Vector Smart Object copy.png");
  position: absolute;
  left: 339px;
  top: 1760px;
  width: 1874px;
  height: 97px;
  z-index: 10;
}
/* line 1, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /home/rodmal/Documents/work/teophilo/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
 @font-face {font-family:"Parisian";src:url("Parisian.eot?") format("eot"),url("Parisian.woff") format("woff"),url("Parisian.ttf") format("truetype"),url("Parisian.svg#Parisian") format("svg");font-weight:normal;font-style:normal;}
