/* line 6, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 10, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.social_ext {
  position: relative;
  list-style-type: none;
}

/* line 14, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.fb_ext {
  position: relative;
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 6%;
  margin-right: 1%;
  left: -3%;
}

/* line 23, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.img_li {
  width: 100%;
  position: relative;
}

/* line 28, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.princ_nav {
  position: relative;
  list-style-type: none;
  left: 5%;
  margin-bottom: 5%;
}

/* line 35, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.princ_nav li {
  float: left;
  font-family: Georgia, Times, Times New Roman, serif;
  line-height: 3.5vw;
  font-size: 2.5vw;
  margin-right: 0.5%;
}

/* line 43, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.logotop {
  position: relative;
  top: 3%;
  font-family: "Parisian";
  font-size: 15.0vw;
  text-align: center;
}

/* line 51, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.headerline {
  background-color: rgba(153, 153, 153, 0.44);
  position: relative;
  left: -2%;
  top: 6%;
  width: 100%;
  height: 2px;
  z-index: 6;
  margin-bottom: -8%;
}

/* line 62, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.titulo {
  text-align: center;
  margin-top: 24%;
  font-size: 4.7vw;
  line-height: 5.7vw;
  font-family: Georgia,Times,Times New Roman,serif;
  background-color: #132E37;
  color: #fff;
  height: 4%;
  width: 60%;
  left: 20%;
  position: relative;
}

/* line 76, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.tira {
  width: 90%;
  height: 90%;
  position: relative;
  left: 5%;
}

/* line 85, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.container1 {
  background-image: url("1.png");
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
}

/* line 96, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.texto1 {
  width: 90%;
  position: relative;
  left: 5%;
  top: 2%;
  font-size: 4.5vw;
  line-height: 4.5vw;
  font-family: FISHfingers;
}

/* line 107, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.container2 {
  background-image: url("2.png");
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

/* line 118, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.container2alt1 {
  background-image: url("2alt1.jpg");
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

/* line 128, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.texto2 {
  width: 90%;
  position: relative;
  left: 5%;
  top: 2%;
  font-size: 4.5vw;
  line-height: 4.5vw;
  font-family: FISHfingers;
}

/* line 139, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.container3 {
  background-image: url("3.png");
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

/* line 151, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.texto3 {
  width: 90%;
  position: relative;
  left: 5%;
  top: 2%;
  font-size: 4.5vw;
  line-height: 4.5vw;
  font-family: FISHfingers;
}

/* line 162, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.container4 {
  background-image: url("5.png");
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

/* line 173, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.container4alt1 {
  background-image: url("4alt1.jpg");
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

/* line 183, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.texto4 {
  width: 90%;
  position: relative;
  left: 5%;
  top: 2%;
  font-size: 4.5vw;
  line-height: 4.5vw;
  font-family: FISHfingers;
}

/* line 194, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.container5 {
  background-image: url("4.png");
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

/* line 204, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.texto5 {
  width: 90%;
  position: relative;
  left: 5%;
  top: 2%;
  font-size: 4.5vw;
  line-height: 4.5vw;
  font-family: FISHfingers;
}

/* line 215, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.container6 {
  background-image: url("6.png");
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

/* line 227, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.texto6 {
  width: 90%;
  position: relative;
  left: 5%;
  top: 2%;
  font-size: 4.5vw;
  line-height: 4.5vw;
  font-family: FISHfingers;
}

/* line 238, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.controlsdiv {
  width: 90%;
  height: 15%;
  left: 5%;
  position: relative;
  top: 450.5%;
  border-width: 1px;
  border-style: solid;
}

/* line 248, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.corona {
  position: relative;
  left: 1%;
}

/* line 253, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.autor_controls {
  font-family: Georgia,Times,Times New Roman,serif;
  font-size: 3.3vw;
  position: relative;
  top: -62%;
  left: 15%;
}

/* line 260, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.autor_titulo {
  font-family: Georgia,Times,Times New Roman,serif;
  font-size: 3.2vw;
  position: relative;
  left: 15%;
  top: -55%;
}

/* line 268, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.autor_link {
  font-family: Georgia,Times,Times New Roman,serif;
  font-size: 3.0vw;
  position: relative;
  left: 15%;
  top: -45%;
}

/* line 277, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.calendar {
  position: relative;
  top: 455%;
  left: 5%;
}

/* line 283, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.datepp {
  position: relative;
  width: 15%;
}

/* line 289, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.dateholder {
  position: relative;
  margin-top: -20%;
  left: 3%;
}

/* line 295, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.tags {
  position: relative;
  font-family: Georgia, Times, Times New Roman, serif;
  line-height: 3.1vw;
  font-size: 3.1vw;
  color: #fff;
  background-color: #542B00;
  border: 1px solid;
  border-radius: 10px;
  width: 62%;
  height: 5%;
  text-align: center;
  top: 443%;
  left: 29%;
}

/* line 311, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.social_ext2 {
  position: relative;
  width: 200%;
  top: 115%;
  left: -15%;
  list-style-type: none;
}

/* line 319, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.colaboras {
  position: relative;
  top: 480%;
  width: 98%;
}

/* line 326, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.columnas {
  width: 100%;
  position: relative;
  margin-top: -25%;
}

/* line 333, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.columnas tr td {
  font-family: "Parisian";
  font-size: 5.7vw;
  text-align: center;
  width: 25%;
  height: auto;
}

/* line 341, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.img_tbl {
  width: 100%;
  height: 100%;
}

/* line 346, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.table_text {
  font-family: Georgia, Times, Times New Roman, serif;
  line-height: 3.1vw;
  font-size: 3.1vw;
}

/* line 353, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.table_text2 {
  font-family: Georgia, Times, Times New Roman, serif;
  line-height: 3.1vw;
  font-size: 3.1vw;
  text-align: justify;
}

/* line 359, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.footerline {
  background-image: url("teofooter.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  left: -2%;
  top: 487%;
  width: 100%;
  height: 100%;
  z-index: 6;
  margin-bottom: 0%;
}

/* line 371, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.footer_text {
  position: relative;
  top: 20%;
  left: 2%;
  width: 95%;
}

/* line 377, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.footer_mision {
  font-family: "Parisian";
  font-size: 4.8vw;
  font-style: bold;
  position: relative;
  top: 20%;
  left: 25%;
  width: 30%;
}

@media only screen and (min-width: 321px) {
  /* line 388, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .fb_ext {
    width: 4%;
  }

  /* line 392, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .princ_nav {
    left: 1%;
    margin-bottom: 5%;
  }

  /* line 397, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .princ_nav li {
    line-height: 3.0vw;
    font-size: 2.0vw;
  }

  /* line 402, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .logotop {
    top: 10%;
    font-size: 10vw;
    left: -20%;
  }

  /* line 408, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .headerline {
    top: 12%;
  }

  /* line 412, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .titulo {
    margin-top: 20%;
    font-size: 4.7vw;
    line-height: 5.8vw;
    height: 7%;
    width: 80%;
    left: 10%;
    position: relative;
  }

  /* line 423, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .tira {
    height: 170%;
  }

  /* line 426, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .controlsdiv {
    top: 880.5%;
    height: 22%;
  }

  /* line 432, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .calendar {
    top: 885%;
  }

  /* line 436, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .datepp {
    width: 10%;
  }

  /* line 441, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .dateholder {
    margin-top: -15%;
    left: 2%;
  }

  /* line 446, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .tags {
    height: 8%;
    top: 873%;
  }

  /* line 451, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .social_ext2 {
    left: 0%;
  }

  /* line 455, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .colaboras {
    top: 940%;
  }

  /* line 459, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .table_text2 {
    line-height: 2.1vw;
    font-size: 2.1vw;
  }

  /* line 463, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .footerline {
    top: 947%;
  }

  /* line 466, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .footer_text {
    position: relative;
    top: 35%;
    left: 42%;
    width: 55%;
  }

  /* line 472, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .footer_mision {
    top: 45%;
    left: 25%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 480, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .fb_ext {
    width: 5%;
  }

  /* line 484, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .princ_nav {
    left: 2%;
    margin-bottom: 5%;
  }

  /* line 489, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .princ_nav li {
    line-height: 3.0vw;
    font-size: 2.0vw;
  }

  /* line 494, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .logotop {
    top: 5%;
    font-size: 10vw;
    left: -20%;
  }

  /* line 500, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .headerline {
    top: 7%;
  }

  /* line 504, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .titulo {
    margin-top: 20%;
    font-size: 4.7vw;
    line-height: 5.7vw;
    height: 5%;
    width: 80%;
    left: 10%;
    position: relative;
  }

  /* line 515, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .tira {
    height: 90%;
  }

  /* line 518, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .controlsdiv {
    top: 460.5%;
    height: 10%;
  }

  /* line 523, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .autor_controls {
    font-family: Georgia,Times,Times New Roman,serif;
    font-size: 3.3vw;
    position: relative;
    top: -28%;
    left: 15%;
  }

  /* line 530, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .autor_titulo {
    font-family: Georgia,Times,Times New Roman,serif;
    font-size: 3.2vw;
    position: relative;
    left: 15%;
    top: -15%;
  }

  /* line 538, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .autor_link {
    font-family: Georgia,Times,Times New Roman,serif;
    font-size: 3.0vw;
    position: relative;
    left: 15%;
    top: -5%;
  }

  /* line 548, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .calendar {
    top: 465%;
  }

  /* line 552, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .datepp {
    width: 6%;
  }

  /* line 557, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .dateholder {
    margin-top: -10%;
    left: 1%;
  }

  /* line 562, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .tags {
    height: 3%;
    top: 460%;
  }

  /* line 567, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .social_ext2 {
    left: 4%;
  }

  /* line 571, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .colaboras {
    top: 490%;
  }

  /* line 575, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .table_text2 {
    line-height: 1.7vw;
    font-size: 1.7vw;
  }

  /* line 579, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .footerline {
    top: 487%;
  }

  /* line 582, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .footer_text {
    position: relative;
    top: 17%;
    left: 42%;
    width: 55%;
  }

  /* line 588, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .footer_mision {
    top: 25%;
    left: 25%;
  }
}
@media only screen and (min-device-width: 1024px) {
  /* line 596, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .fb_ext {
    width: 4%;
  }

  /* line 600, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .princ_nav {
    left: 13%;
    margin-bottom: 5%;
  }

  /* line 605, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .princ_nav li {
    line-height: 3.0vw;
    font-size: 2.0vw;
  }

  /* line 610, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .logotop {
    top: 8%;
    font-size: 8vw;
    left: -20%;
  }

  /* line 616, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .headerline {
    top: 10%;
  }

  /* line 620, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .titulo {
    margin-top: 20%;
    font-size: 4.7vw;
    line-height: 5.8vw;
    height: 7%;
    width: 80%;
    left: 10%;
    position: relative;
  }

  /* line 631, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .tira {
    height: 90%;
    left: 8%;
  }

  /* line 636, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .container1 {
    background-image: url("1.png");
    height: 60%;
    width: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    float: left;
  }

  /* line 647, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .texto1 {
    width: 70%;
    position: relative;
    left: 5%;
    top: 3%;
    font-size: 1.5vw;
    line-height: 1.5vw;
    font-family: FISHfingers;
  }

  /* line 656, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .container2 {
    float: left;
    display: inline-block;
    background-image: url("2.png");
    height: 60%;
    width: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    margin-left: 1%;
  }

  /* line 668, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .container2alt1 {
    float: left;
    display: inline-block;
    background-image: url("2alt1.jpg");
    height: 60%;
    width: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    margin-left: 1%;
  }

  /* line 681, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .texto2 {
    width: 70%;
    position: relative;
    left: 5%;
    top: 3%;
    font-size: 1.5vw;
    line-height: 1.5vw;
    font-family: FISHfingers;
  }

  /* line 690, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .container3 {
    float: left;
    display: inline-block;
    background-image: url("3.png");
    height: 60%;
    width: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    margin-left: 1%;
  }

  /* line 702, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .texto3 {
    width: 70%;
    position: relative;
    left: 5%;
    top: 3%;
    font-size: 1.5vw;
    line-height: 1.5vw;
    font-family: FISHfingers;
  }

  /* line 711, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .container4 {
    background-image: url("5.png");
    height: 48%;
    width: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    float: left;
    top: -10%;
    left: -2%;
    margin-left: 2%;
  }

  /* line 724, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .container4alt1 {
    background-image: url("4alt1.jpg");
    height: 48%;
    width: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    float: left;
    top: -10%;
    left: -2%;
    margin-left: 2%;
  }

  /* line 737, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .texto4 {
    width: 70%;
    position: relative;
    left: 5%;
    top: 3%;
    font-size: 1.5vw;
    line-height: 1.5vw;
    font-family: FISHfingers;
  }

  /* line 746, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .container5 {
    float: left;
    display: inline-block;
    background-image: url("4.png");
    height: 48%;
    width: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: -10%;
    margin-left: -1%;
  }

  /* line 759, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .texto5 {
    width: 70%;
    position: relative;
    left: 5%;
    top: 3%;
    font-size: 1.5vw;
    line-height: 1.5vw;
    font-family: FISHfingers;
  }

  /* line 768, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .container6 {
    float: left;
    display: inline-block;
    background-image: url("6.png");
    height: 48%;
    width: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: -10%;
    margin-left: 1%;
  }

  /* line 781, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .texto6 {
    width: 70%;
    position: relative;
    left: 5%;
    top: 3%;
    font-size: 1.5vw;
    line-height: 1.5vw;
    font-family: FISHfingers;
  }

  /* line 790, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .controlsdiv {
    top: 0.5%;
    height: 10%;
    width: 37%;
  }

  /* line 795, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .corona {
    top: -60%;
    left: 4%;
  }

  /* line 799, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .bigote {
    top: -60%;
    left: 3%;
    position: relative;
  }

  /* line 806, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .autor_controls {
    font-family: Georgia,Times,Times New Roman,serif;
    font-size: 1.6vw;
    position: relative;
    top: -128%;
    left: 15%;
  }

  /* line 813, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .autor_titulo {
    font-family: Georgia,Times,Times New Roman,serif;
    font-size: 1.5vw;
    position: relative;
    left: 15%;
    top: -125%;
  }

  /* line 821, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .autor_link {
    font-family: Georgia,Times,Times New Roman,serif;
    font-size: 1.4vw;
    position: relative;
    left: 15%;
    top: -125%;
  }

  /* line 831, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .calendar {
    top: -10%;
    left: 45%;
  }

  /* line 836, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .datepp {
    width: 4.5%;
  }

  /* line 841, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .dateholder {
    margin-top: -7%;
    left: 1%;
  }

  /* line 846, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .tags {
    height: 3%;
    top: -17%;
    left: 55%;
    width: 30%;
  }

  /* line 853, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .social_ext2 {
    left: 4%;
  }

  /* line 857, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .colaboras {
    top: 34%;
    left: -83%;
  }

  /* line 862, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .columnas tr td {
    font-family: "Parisian";
    font-size: 4.7vw;
    text-align: center;
    width: 25%;
    height: auto;
  }

  /* line 870, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .img_tbl {
    position: relative;
    margin-top: 4%;
  }

  /* line 876, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .table_text {
    font-family: Georgia, Times, Times New Roman, serif;
    line-height: 2.1vw;
    font-size: 2.1vw;
  }

  /* line 882, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .table_text2 {
    line-height: 1.4vw;
    font-size: 1.4vw;
  }

  /* line 886, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .footerline {
    top: 35%;
  }

  /* line 889, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .footer_text {
    position: relative;
    top: 30%;
    left: 42%;
    width: 55%;
  }

  /* line 895, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .footer_mision {
    top: 45%;
    left: 25%;
  }
}
@media only screen and (min-device-width: 1280px) {
  /* line 905, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .fb_ext {
    width: 2%;
  }

  /* line 909, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .princ_nav {
    left: 22%;
    margin-bottom: 5%;
  }

  /* line 914, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .princ_nav li {
    line-height: 2.0vw;
    font-size: 1.5vw;
  }

  /* line 919, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .logotop {
    top: 15%;
    font-size: 8vw;
    left: -30%;
  }

  /* line 925, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .headerline {
    top: 20%;
  }

  /* line 929, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .titulo {
    margin-top: 20%;
    font-size: 4.7vw;
    line-height: 5.8vw;
    height: 11%;
    width: 80%;
    left: 10%;
    position: relative;
  }

  /* line 940, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .tira {
    height: 150%;
    left: 8%;
  }

  /* line 946, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .calendar {
    top: -10%;
    left: -35%;
  }

  /* line 951, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .datepp {
    width: 4%;
  }

  /* line 956, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .dateholder {
    margin-top: -6%;
    left: 83.3%;
  }

  /* line 961, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .tags {
    height: 5%;
    top: -17%;
    left: 55%;
    width: 35%;
  }

  /* line 968, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .social_ext2 {
    left: 4%;
  }

  /* line 972, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .colaboras {
    top: 70%;
  }

  /* line 976, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .footerline {
    top: 55%;
  }

  /* line 979, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .footer_text {
    position: relative;
    top: 50%;
    left: 42%;
    width: 55%;
  }

  /* line 985, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
  .footer_mision {
    top: 65%;
    left: 25%;
  }
}
/* line 1, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
 @font-face {font-family:"Parisian";src:url("Parisian.eot?") format("eot"),url("Parisian.woff") format("woff"),url("Parisian.ttf") format("truetype"),url("Parisian.svg#Parisian") format("svg");font-weight:normal;font-style:normal;}
/*@font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"FISHfingers";src:url("Fishfingers.eot?") format("eot"),url("Fishfingers.woff") format("woff"),url("Fishfingers.ttf") format("truetype"),url("Fishfingers.svg#FISHfingers") format("svg");font-weight:normal;font-style:normal;}
