/* line 6, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 10, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.logotop {
  background-image: url("logo1.png");
  background-size: 50%;
  background-repeat: no-repeat;
  width: 35%;
  height: 0;
  padding-top: 66.64%;
  margin-top: -66%;
  margin-left: 40%;
}

/* line 20, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.titulo {
  text-align: center;
  margin-top: 14%;
  font-size: 1.7vw;
  line-height: 1.7vw;
  font-family: Georgia,Times,Times New Roman,serif;
  background-color: #132E37;
  color: #fff;
  height: 4%;
  width: 60%;
  left: 20%;
  position: relative;
}

/* line 36, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.titulo1 {
  text-align: center;
  position: relative;
  top: -170%;
  left: 5%;
}

/* line 42, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.tira {
  width: 80%;
  height: 80%;
  position: relative;
  left: 18%;
}

/* line 51, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.tags {
  position: relative;
  font-family: Georgia, Times, Times New Roman, serif;
  line-height: 1.1vw;
  font-size: 1.1vw;
  color: #fff;
  background-color: #542B00;
  border: 1px solid;
  border-radius: 10px;
  width: 12%;
  height: 5%;
  text-align: center;
  top: -75%;
  left: 59%;
}

/* line 68, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.social_ext {
  position: relative;
  top: -145%;
  list-style-type: none;
}

/* line 73, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.social_ext2 {
  position: relative;
  top: -145%;
  left: -5%;
  list-style-type: none;
}

/* line 79, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.princ_nav {
  position: relative;
  top: -145%;
  list-style-type: none;
  left: 45%;
}

/* line 86, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.princ_nav li {
  float: left;
  margin-right: 0.5%;
}

/* line 91, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.columnas {
  width: 100%;
  position: relative;
  left: -70%;
  margin-top: -25%;
}

/* line 98, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.columnas td {
  font-family: "Parisian";
  font-size: 2.7vw;
  text-align: center;
  width: 50%;
}

/* line 104, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.fb_ext {
  top: -140%;
  position: relative;
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 2%;
  margin-right: 1%;
}

/* line 114, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.img_li {
  width: 100%;
  position: relative;
}

/* line 121, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.container1 {
  background-image: url("1.png");
  height: 60%;
  width: 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  float: left;
  top: -140%;
  left: -60%;
}

/* line 134, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.texto1 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.2vw;
  line-height: 1.2vw;
  font-family: FISHfingers;
}

/* line 144, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.container2 {
  float: left;
  display: inline-block;
  background-image: url("2.png");
  height: 60%;
  width: 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  margin-left: 26%;
  top: -200%;
}

/* line 157, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.container2alt1 {
  float: left;
  display: inline-block;
  background-image: url("2alt1.jpg");
  height: 60%;
  width: 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  margin-left: 26%;
  top: -200%;
}

/* line 170, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.texto2 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.2vw;
  line-height: 1.2vw;
  font-family: FISHfingers;
}

/* line 180, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.container3 {
  float: left;
  display: inline-block;
  background-image: url("3.png");
  height: 60%;
  width: 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  margin-left: 50%;
  top: -260%;
}

/* line 192, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.texto3 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.2vw;
  line-height: 1.2vw;
  font-family: FISHfingers;
}

/* line 204, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.container4 {
  background-image: url("5.png");
  height: 61%;
  width: 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  float: left;
  top: -259%;
  margin-left: 2%;
}

/* line 218, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.container4alt1 {
  background-image: url("4alt1.jpg");
  height: 61%;
  width: 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  float: left;
  top: -259%;
  margin-left: 2%;
}

/* line 231, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.texto4 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.2vw;
  line-height: 1.2vw;
  font-family: FISHfingers;
}

/* line 241, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.container5 {
  float: left;
  display: inline-block;
  background-image: url("4.png");
  height: 61%;
  width: 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  margin-left: -6%;
  top: -259%;
}

/* line 253, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.texto5 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.2vw;
  line-height: 1.2vw;
  font-family: FISHfingers;
}

/* line 263, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.container6 {
  float: left;
  display: inline-block;
  background-image: url("6.png");
  height: 61%;
  width: 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  top: -0.125%;
  margin-left: -6%;
  top: -259%;
}

/* line 276, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.texto6 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.2vw;
  line-height: 1.2vw;
  font-family: FISHfingers;
}

/* line 288, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.shop {
  background-size: 70%;
  background-repeat: no-repeat;
  width: 5%;
  height: 0;
  padding-top: 66.64%;
  margin-top: 3%;
  margin-left: 75%;
  z-index: 20;
}

/* line 300, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.share {
  background-size: 70%;
  background-repeat: no-repeat;
  width: 5%;
  height: 0;
  padding-top: 66.64%;
  margin-top: -66.64%;
  margin-left: 80%;
  z-index: 20;
}

/* line 312, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.buscar {
  background-size: 70%;
  background-repeat: no-repeat;
  width: 5%;
  height: 0;
  padding-top: 66.64%;
  margin-top: -66.64%;
  margin-left: 85%;
  z-index: 20;
}

/* line 322, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.login {
  background-size: 50%;
  background-repeat: no-repeat;
  width: 5%;
  height: 0;
  padding-top: 66.64%;
  margin-top: -66.64%;
  margin-left: 91%;
  z-index: 20;
}

/* line 333, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.nav {
  list-style-type: none;
  margin-top: -64%;
}

/* line 338, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.nav li {
  float: left;
  font-family: "Parisian";
  margin-right: 5%;
}

/* line 343, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.mision {
  margin-top: 10%;
  width: 95%;
  margin-left: 2.5%;
}

/* line 348, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.titleteo {
  font-family: "Parisian";
  font-size: 2.8vw;
}

/* line 354, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.nombrepersonaje {
  font-family: "Parisian";
  font-size: 2.3vw;
  margin-top: 5%;
}

/* line 360, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.pmision {
  font-family: "Parisian";
  font-size: 1.8vw;
  line-height: 1.8vw;
  text-align: justify;
}

/* line 368, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.proximamente {
  background-image: url("tienda.png");
  background-repeat: no-repeat;
  background-size: 50%;
  width: 95%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 25%;
  height: 100%;
}

/* line 379, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.colabora {
  background-image: url("colabora.png");
  background-repeat: no-repeat;
  background-size: 50%;
  width: 95%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25%;
  height: 150%;
}

/* line 390, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.headerline {
  background-color: rgba(153, 153, 153, 0.44);
  position: relative;
  left: -2%;
  top: 2%;
  width: 102%;
  height: 2px;
  z-index: 6;
  margin-bottom: -8%;
}

/* line 401, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.mainstage {
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
  height: 70%;
  border-style: solid;
  border-width: 1px;
}

/* line 410, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.controlsdiv {
  width: 27%;
  height: 15%;
  margin-left: 20.1%;
  position: relative;
  top: 20.5%;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 30%;
}

/* line 422, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.bigote {
  position: relative;
  top: 1%;
  left: -1%;
}

/* line 429, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.autor_controls {
  font-family: Georgia,Times,Times New Roman,serif;
  font-size: 1.3vw;
  position: relative;
  top: -52%;
  left: 10%;
}

/* line 436, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.autor_titulo {
  font-family: Georgia,Times,Times New Roman,serif;
  font-size: 1.2vw;
  position: relative;
  left: 10%;
  top: -45%;
}

/* line 444, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.autor_link {
  font-family: Georgia,Times,Times New Roman,serif;
  font-size: 1.0vw;
  position: relative;
  left: 10%;
  top: -35%;
}

/* line 452, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.datepp {
  position: relative;
  width: 4%;
}

/* line 457, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.dateholder {
  position: relative;
  top: -155%;
  left: 29%;
}

/* line 462, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.calendar {
  position: relative;
  top: -59%;
  left: -24%;
}

/* line 467, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.nav-bottom {
  list-style-type: none;
  position: relative;
  top: 90%;
  margin-left: 40%;
}

/* line 475, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.nav-bottom li {
  float: left;
  font-family: "Parisian";
  margin-right: 3%;
}

/* line 480, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.footerline {
  background-image: url("teofooter.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  left: -2%;
  top: 7%;
  width: 102%;
  height: 100%;
  z-index: 6;
  margin-bottom: 5%;
}

/* line 492, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.footer_text {
  position: relative;
  top: 50%;
  left: -5%;
}

/* line 497, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.footer_mision {
  font-family: "Parisian";
  font-size: 2.8vw;
  font-style: bold;
  position: relative;
  top: 60%;
  left: -20%;
}

/* line 506, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.Vector_Smart_Object_copy {
  background-image: url("Vector Smart Object copy.png");
  position: absolute;
  left: 339px;
  top: 1760px;
  width: 1874px;
  height: 97px;
  z-index: 10;
}

/* line 516, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.formcomic {
  height: 100%;
  width: 60%;
  position: relative;
  left: 35%;
  float: left;
  top: -170%;
}

/* line 525, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.formcontainer1 {
  background-image: url("1.png");
  height: 35%;
  width: 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  float: left;
}

/* line 536, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.formcontainer2 {
  float: left;
  display: inline-block;
  background-image: url("2.png");
  height: 35%;
  width: 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  margin-left: -6%;
}

/* line 547, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.formcontainer2alt1 {
  float: left;
  display: inline-block;
  background-image: url("2alt1.jpg");
  height: 35%;
  width: 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  margin-left: -6%;
}

/* line 558, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.formcontainer3 {
  float: left;
  display: inline-block;
  background-image: url("3.png");
  height: 35%;
  width: 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  top: -0.125%;
  margin-left: -6%;
}

/* line 570, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.formcontainer4 {
  background-image: url("5.png");
  height: 60%;
  width: 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  float: left;
}

/* line 581, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.formcontainer4alt1 {
  background-image: url("4alt1.jpg");
  height: 60%;
  width: 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  float: left;
}

/* line 592, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.formcontainer5 {
  float: left;
  display: inline-block;
  background-image: url("4.png");
  height: 60%;
  width: 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  margin-left: -6%;
}

/* line 603, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.formcontainer6 {
  float: left;
  display: inline-block;
  background-image: url("6.png");
  height: 60%;
  width: 30%;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  top: -0.125%;
  margin-left: -6%;
}

/* line 617, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.textopersonajecuadro1 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.2vw;
  line-height: 1.2vw;
  font-family: FISHfingers;
}

/* line 627, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.textopersonajecuadro2 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.2vw;
  line-height: 1.2vw;
  font-family: FISHfingers;
}

/* line 637, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.textopersonajecuadro3 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.2vw;
  line-height: 1.2vw;
  font-family: FISHfingers;
}

/* line 647, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.textopersonajecuadro4 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.2vw;
  line-height: 1.2vw;
  font-family: FISHfingers;
}

/* line 657, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.textopersonajecuadro5 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.2vw;
  line-height: 1.2vw;
  font-family: FISHfingers;
}

/* line 667, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.textopersonajecuadro6 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.2vw;
  line-height: 1.2vw;
  font-family: FISHfingers;
}

/* line 678, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.ntextopersonajecuadro1 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.0vw;
  line-height: 1.0vw;
  font-family: FISHfingers;
}

/* line 688, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.ntextopersonajecuadro2 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.0vw;
  line-height: 1.0vw;
  font-family: FISHfingers;
}

/* line 698, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.ntextopersonajecuadro3 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.0vw;
  line-height: 1.0vw;
  font-family: FISHfingers;
}

/* line 708, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.ntextopersonajecuadro4 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.0vw;
  line-height: 1.0vw;
  font-family: FISHfingers;
}

/* line 718, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.ntextopersonajecuadro5 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.0vw;
  line-height: 1.0vw;
  font-family: FISHfingers;
}

/* line 728, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.ntextopersonajecuadro6 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.0vw;
  line-height: 1.0vw;
  font-family: FISHfingers;
}

/* line 739, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.ntexto1 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.0vw;
  line-height: 1.0vw;
  font-family: FISHfingers;
}

/* line 749, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.ntexto2 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.0vw;
  line-height: 1.0vw;
  font-family: FISHfingers;
}

/* line 759, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.ntexto3 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.0vw;
  line-height: 1.0vw;
  font-family: FISHfingers;
}

/* line 769, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.ntexto4 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.0vw;
  line-height: 1.0vw;
  font-family: FISHfingers;
}

/* line 779, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.ntexto5 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.0vw;
  line-height: 1.0vw;
  font-family: FISHfingers;
}

/* line 789, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/home.css.scss */
.ntexto6 {
  width: 70%;
  position: relative;
  left: 5%;
  top: 3%;
  font-size: 1.0vw;
  line-height: 1.0vw;
  font-family: FISHfingers;
}
/* line 1, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /home/rodmal/Documents/work/v2/teophilo/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
 @font-face {font-family:"Parisian";src:url("Parisian.eot?") format("eot"),url("Parisian.woff") format("woff"),url("Parisian.ttf") format("truetype"),url("Parisian.svg#Parisian") format("svg");font-weight:normal;font-style:normal;}
/*@font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"FISHfingers";src:url("Fishfingers.eot?") format("eot"),url("Fishfingers.woff") format("woff"),url("Fishfingers.ttf") format("truetype"),url("Fishfingers.svg#FISHfingers") format("svg");font-weight:normal;font-style:normal;}
