<div class="titleteo2">Aviso de Privacidad</div>

	<p class="pmision">Para Teophilo.com (en lo sucesivo “Teophilo”), el tratamiento obligado, honesto, legítimo y controlado de los datos personales de todo usuario son de suma importancia para mantener el control interno y alcanzar los objetivos corporativos, así como mantener nuestro compromiso con la privacidad de los usuarios.</p>

<div class="titleteo">I. Responsabilidad en el tratamiento de los datos personales.</div>
<p class="pmision">Como empresa fidedigna, Teophilo se responsabiliza del uso interno y protección de datos personales que vayamos recabando como parte de nuestro proceso de inclusión de todo usuario, y los tratará de conformidad con la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en lo sucesivo “Ley de Datos”).</p>

<div class="titleteo">II. Contacto</div>
<p class="pmision">Cualquier usuario tiene la capacidad de tratar todo lo relacionado con la protección de sus datos personales. Para contactarnos, usted deberá enviar un correo electrónico a larriva@teophilo.com; o en su defecto, aldaco@teophilo.com</p>

<div class="titleteo">III. Recolección de datos personales</div>
<p class="pmision">Para fines internos de la corporación (establecidos en este aviso de privacidad), recabaremos los siguientes datos personales de todo usuario:</p>

<ul class="pmision">
    <li>Nombre completo</li>
    <li>Edad</li>
    <li>Género</li>
    <li>Lugar y fecha de nacimiento</li>
    <li>Nivel de estudios (Especificar carrera universitaria)</li>
    <li>Lugar de estudios</li>
    <li>Teléfono celular</li>
    <li>Ocupación</li>

</ul>

<p class="pmision">NO pediremos a los usuarios datos personales sensibles. Ley de Datos define a los datos personales sensibles de la siguiente manera:</p>

<p class="pmision2">Aquellos datos personales que afecten a la esfera más íntima de su titular, o cuya utilización indebida pueda dar origen a discriminación o conlleve un riesgo grave para éste. En particular, se consideran sensibles aquellos que puedan revelar aspectos como origen racial o étnico, estado de salud presente y futuro,información genética, creencias religiosas, filosóficas y morales, afiliación sindical, opiniones políticas, preferencia sexual.</p>

<p class="pmision">Si Teophilo llegara a requerir en un momento dado alguno de los datos mencionados anteriormente, el usuario tendrá que autorizarlo con anterioridad firmando este Aviso de Privacidad.</p>

<div class="titleteo"> IV. Uso de los datos personales</div>
<p class="pmision">Teophilo hará uso de los datos personales con los siguientes fines:</p>

<p class="pmision">a) Uso de los datos personales para solicitud de empleo en Teophilo.</p>

<ul class="pmision" style="margin-left: 20%;">
    <li>Ponerse en contacto con con cualquier solicitante de empleo por las distintas vías de comunicación.</li>
    <li>Inscribirlo y darlo de alta en nuestro sistema, ya sea como autor o como colaborador.</li>
    <li>Se le efectuarán exámenes psicométricos y de habilidades que se evaluarán de acuerdo a nuestro proceso de selección</li>
</ul>

<p class="pmision">b) Uso de los datos personales para todo usuario.</p>
<ul class="pmision" style="margin-left: 20%;">
<li>Crear un perfil de usuario en Teophilo.</li>
<li>Identificarlo y contactarlo</li>
<li>Mantener un control estadístico interno de la corporación.</li>
<li>Se le enviarán encuestas para conocer su satisfacción con la plataforma de forma periódica.</li>
<li>Enviar publicidad sobre contenido y mercancía.</li>
</ul>

<div class="titleteo"> V. Cambios en el Aviso</div>
<p class="pmision">Teophilo será capaz de hacer cambios en cualquiera de los datos* de todo tipo de usuario con el previo consentimiento del mismo por medio de cualquier vía de comunicación*</p>




<div class="titleteo"> VI. Seguridad</div>
<p class="pmision">Sólamente el personal de Teophilo está autorizado y capacitado para tratar los datos personales de cualquier tipo de usuario. El incumplimiento de esto violaría la Ley de Datos.</p>


	
<div class="titleteo"> VII. IFAI</div>
<p class="pmision">En caso de que cualquier usuario considere que sus datos hayan sido violados o lesionados por el personal de Teophilo conforme a la Ley de Datos, podrá interponer su inconformidad o denuncia ante el Instituto Federal de Acceso a la Información y Protección de Datos.</p>

