
<div class="mision">
	<div class="titleteo2"> CÓDIGO DE ÉTICA</div>
	<p class="pmision">El siguiente documento funge como una guía de referencia de comportamiento para nuestros miembros. En Teophilo consideramos el respeto, la pluralidad, honestidad e integridad como ejes fundamentales para la construcción de una sociedad fraterna, justa y equitativa. Asimismo estamos comprometidos con el desarrollo de ésta sociedad y nos reconocemos como actores fundamentales en el país que deseamos construir. Por ello debemos asumir una actitud proactiva y apasionada ya que es premisa nuestra exhortarnos constantemente a encontrar y proponer soluciones a los problemas de la realidad mexicana.<br><br>

	En virtud de ésta construcción es necesario establecer ciertas normas básicas de convivencia cotidiana con el fin de edificar un espacio dónde se reflejen nuestros valores y principios. <br><br>

</div>


<div class="mision">
<div class="titleteo">SOBRE NUESTRO COMPROMISO CON LA SOCIEDAD</div>

<p class="pmision">Teophilo al ser un proyecto enteramente universitario reconoce su alcance y capacidad de influencia. Ésta deberá ser utilizada para mejorar el entorno social y promover conductas de crítica social y  participación ciudadana al potencializar la voz de miles de mexicanos que desean expresar sus ideas, emociones o sentir sobre los problemas de México a través del arte. Como ciudadanos de éste país reconocemos nuestra obligación y extendemos nuestro compromiso de trabajar por la sociedad al elaborar una crítica inteligente y propositiva que contribuya a concientizar a un mayor número de individuos e incentivarlos a ser agentes de cambio.</p></div>
 

<div class="mision">
<div class="titleteo">SOBRE NUESTRO COMPROMISO CON NUESTROS COLABORADORES</div>

<p class="pmision">Teophilo es un espacio construido a través de la voz de miles de mexicanos a los cuales reconoce como su razón de ser. Por ello, garantizamos un ambiente de respeto y estamos comprometidos a potencializar sus talentos otorgándoles un espacio dónde puedan expresarse libremente. También creemos firmemente que una sociedad fraterna se construye alentado e involucrando a los individuos en el ejercicio de su ciudadanía por lo que constantemente se invita a nuevos colaboradores a ser parte de la gran familia de Teophilo.</p></div>


<div class="mision">
<div class="titleteo">SOBRE NUESTRAS OBLIGACIONES</div>

<p class="pmision">Los miembros que integran Teophilo deberán mantenerse al margen de externar opiniones que comprometan la imagen y la postura del medio. Todo comentario realizado fuera del área que compete al sitio es responsabilidad de quien lo emite. <br><br>

Asimismo tienen prohibido favorecer el interés de grupos de poder ya que toda influencia ajena el ejercicio libre y objetivo será severamente castigada, así como es deber de los miembros informar cualquier situación que pudiese suscitar un conflicto de intereses. <br><br>

Asumimos el compromiso de responder dudas, comentarios o sugerencias que pudieran surgir de parte de los usuarios sobre el contenido de la página. <br><br>

Finalmente los miembros de Teophilo no deberán ceder ante provocaciones y altercados propiciados por algún externo, y se manejarán siempre con respeto y tolerancia sobre la diversidad de opiniones.
</p></div>

<div class="mision">
<div class="titleteo">SOBRE NUESTROS VALORES</div>

<div class="nombrepersonaje">INTEGRIDAD</div>
<p class="pmision">Nuestro encargo es el de siempre basar nuestras acciones en un marco coherente de principios siendo conscientes del impacto de nuestras decisiones. </p>


<div class="nombrepersonaje">RESPETO</div>
<p class="pmision">El respeto es una actitud y toda buena relación debe construirse en base a ella. Por eso se debemos asegurarnos de que no se cometan faltas hacia la valiosa individualidad de las personas. </p>


<div class="nombrepersonaje">PLURALIDAD</div>
<p class="pmision">Acorde con la filosofía de la página, no podemos permitir que exista ningún tipo de discriminación ya sea por sexo, edad, raza, preferencia sexual, incapacidad o cualquier otra condición que fracture las normas de convivencia. </p></div>



<div class="mision">
<div class="titleteo">SOBRE LAS NORMAS DE PARTICIPACIÓN</div>	

<p class="pmision">En Teophilo procuramos establecer un diálogo horizontal con el fin de fomentar la crítica social y las propuestas. Con el fin fomentar la diversidad y promover un discurso incluyente queda estrictamente prohibido hacer ataques personales a grupos culturales, sociales, políticos, étnicos, de género o preferencial sexual. Se pueden tocar temas relacionados a estos grupos pero buscando siempre la crítica y construcción sobre las ideas y no personas. <br><br>

Teophilo no es responsable del contenido que seleccionen los colaboradores; les otorga libertad en la elección del tema siempre y cuando no violente de alguna forma la integridad de sus lectores.
<br><br>
Se debe procurar no usar palabras altisonantes,  lenguaje abusivo o comentarios irrespetuosos a menos de que sea necesario y siendo utilizado como herramienta de construcción y no como ofensa. <br><br>

Es responsabilidad de los colaboradores ofrecer una temática que responda a las problemáticas y necesidades de México y no sólo de un sector o atendiendo los gustos propios. </p></div>





