<div class="shop"></div>
<div class="share"></div>
<div class="buscar"></div>
<div class="login"></div>
<div class="logotop"></div>

<ul class="nav">
	<li>MEMARIOS </li>
	<li>MONEROS</li>
	<li>BLOGS</li>
	<li>NUESTRAS VOCES
	<li>CULTURA</li>
	<li>O</li>
	<li>ARCHIVOTE</li>
</ul>
<div class="headerline"></div>
<div class="mainstage"></div>
<div class="controlsdiv">
	<div class="fastrewind"></div>
	<div class="rewind"></div>
	<div class="forward"></div>
	<div class="fastforard"></div>
</div>
<ul class="nav-bottom">
	<li class="liteo">TEOPHILO</li>
	<li>MEMARIOS </li>
	<li>MONEROS</li>
	<li>BLOGS</li>
	<li>NUESTRAS VOCES
	<li>CULTURA</li>
	<li>O</li>
	<li>ARCHIVOTE</li>
</ul>
<div class="footerline"></div>
