<%= render "comic"%>

<div class="row">
	<div class="large-5 medium-5 small-5 columns">
		<div class="colaboras">
			COLABORA
		</div>
	</div>
	<div class="large-2 medium-2 small-2 columns">
		
	</div>
	<div class="large-5 medium-5 small-5 columns">
		<div class="colaboras">
			¡ANÚNCIATE!
		</div>
	</div>
</div>
<div class="row">
	<div class="large-5 medium-5 small-5 columns">
		<%= image_tag("teocolabora.png", :class => "img_tbl") %>
	</div>
	<div class="large-2 medium-2 small-2columns">
		
	</div>
	<div class="large-5 medium-5 small-5 columns">
		<%= image_tag("teoanuncia.png" , :class => "img_tbl") %>
	</div>
</div>

<div class="row">
	<div class="large-5 medium-5 small-5 columns">
		<p  class="table_text">Si quieres formar parte del equipo / escribir / dibujar / colaborar de alguna forma con Teo, manda un correo a aldaco@teophilo.com y nos ponemos en contacto.</p> 
	</div>
	<div class="large-2 medium-2 small-2 columns">
		
	</div>
	<div class="large-5 medium-5 small-5 columns">
		<p class="table_text">¡Manda un correo a larriva@teophilo.com y me pongo en contacto contigo!</p>
	</div>
</div>

<div class="footerline">
	<img src="assets/teofooter.png">
	<div class="footer_mision">MISIÓN</div>
	<div class="footer_text">
		<p class="table_text2">Teophilo pretende crear un espacio plural –de ideas y arte– donde las idiosincrasias y propuestas de la diversidad nacional coexistan y construyan una sociedad más fraterna, libre y equitativa.</p>
		<p class="table_text2">Elizabeth Anderson (1999) en “What is the Point of Equality”: </p>
		<p class="table_text2">El igualitarismo (egalitarianism) debe reflejar una visión generosa, humana, y cosmopolita de una sociedad que reconozca a las personas como iguales en toda su diversidad. Se debe promover acuerdos institucionales que permitan la diversidad de talentos, las aspiraciones, las funciones y las culturas de las personas en beneficio de todos y que se reconozcan como de beneficio mutuo.</p>
		</div>
</div>

