<div class="shop"></div>
<div class="share"></div>
<div class="buscar"></div>
<div class="login"><%= link_to 'Sign in', new_user_session_path %></div>
<div class="logotop"></div>

<ul class="nav">
	<li>MEMARIOS </li>
	<li><a href="/tienda">TIENDA</a></li>
	<li>BLOGS</li>
	<li>NUESTRAS VOCES</li>
	<li><a href="/etica">CÓDIGO DE ÉTICA</a></li>
	<li><a href="/colabora">COLABORA CON NOSOTROS</a></li>
	<li><a href="/teo">TEO</a></li>
</ul>
<div class="headerline"></div>
<div class="mision">
	<div class="titleteo"> MISIÓN</div>
	<p class="pmision">Teophilo pretende crear un espacio plural –de ideas y arte– donde las idiosincrasias y propuestas de la diversidad nacional coexistan y construyan una sociedad más fraterna, libre y equitativa.<br><br>
	Elizabeth Anderson (1999) en “What is the Point of Equality”:<br><br>

	El igualitarismo (egalitarianism) debe reflejar una visión generosa, humana, y cosmopolita de una sociedad que reconozca a las personas como iguales en toda su diversidad. Se debe promover acuerdos institucionales que permitan la diversidad de talentos, las aspiraciones, las funciones y las culturas de las personas en beneficio de todos y que se reconozcan como de beneficio mutuo.
</p>
</div>

<div class="mision">
	<div class="titleteo"> HISTORIA DE TEOPHILO</div>
	<p class="pmision">Cuando el pequeño gorila apenas llevaba unas pocas semanas en el mundo, una compañía mexicana vertió desechos industriales en el río principal afectando todo un ecosistema. La manada de gorilas murió con quien vivía y sólo sobrevivió el crío. Fue encontrado por una pareja mexicana, dos excéntricos y acaudalados bonachones quienes no pudieron resistir a llevarlo a casa. Le adoptaron no como mascota, o como rescate, sino como un hijo más. Le pusieron el nombre de Teófilo.<br><br>

	Había llegado a una familia tan grande como extravagante: Teo tenía 9 hermanos mayores. Los viejos –como sus hijos les decían– habían tenido cuatro biológicos y seis adoptados. La pareja adoptó a varios de sus hijos en algún viaje por el mundo, siempre que encontraban algún crío desamparado, tal como hicieron con Teófilo. En cambio, los hijos biológicos llegaron aleatoriamente de acuerdo su impulsivo lívido. Todos los hermanos se consideraban mexicanos pero los primogénitos implantaron la tradición de estudiar la carrera en su país de origen. Mexicanos del mundo. Fue una decisión colectiva inconsciente que se convertiría en una obligación implícita y motto familiar. Por ello, la construcción del carácter y el pensamiento de Teo fue moldeada en una escuela ecléctica que recaudaba y contrastaba constantemente las diferentes mentalidades de casa. Teo recuerda centenas de comidas, reuniones y fiestas familiares donde las discusiones se elevaban al punto que los argumentos volaban como guerra de comida en cafetería de secundaria: era cuando más aprendías de la vida y cuando más te divertías, claro, a veces salía manchado pero nada que un trapo de mamá no pudiera limpiar. Aunque difícilmente habían acuerdos, siempre lograban construir argumentos propositivos a raíz del debate y el contraste de las diferentes ideas familiares. <br><br>
	Su infancia fue como la que cualquier otro niño gorila la hubiera vivido en una escuela pública del México noventero. Sus viejos, sus nueve hermanos, los bull-eadores, las marchas en Reforma, el cine, los Pumas, Jorge Campos, la comida picosa, el Periférico, los enigmas, el hambre ajena, los contrastes, la calle con limosneros y con ricachones, las maquinitas de Street Fighter, las patinetas, Kurt Cobain, las repeticiones de Infante y Negrete, los tenis con aire, los cigarros, la lluvia, el crimen, las orquestas del teatro y los pueblos que visitaba con sus padres, el subcomandante Marcos, Los Caballeros del Zodiaco, Los Años Maravillosos, Sharon Stone, su par de años viviendo en la selva Chiapaneca, Vicente Fox, el VHS, la comida de los mercados, la comida gourmet, las bananas, todo eso le hicieron, como diría Fito, ese gorila enreverado. <br><br>
	Hoy día, Teo tiene 26 años. Le gusta leer, y escribir mucho. Toma tequila o vino. Tal vez whiskey. No adoptó la fiel creencia religiosa de sus padres, lleva su espiritualidad a su modo. Deportista, si no está remando, seguro está colgado de un árbol. Se dice mexicano del mundo. Esta dualidad dentro de él le hace un ávido observador y crítico de México. Frecuentemente visita o es visitado por sus hermanos para platicar de los temas en los que ellos son especialistas. Teófilo es un aspirante a todólogo. Aprendiz de todo pero maestro de nada. Tiene hambre de conocimiento y de reflexión. <br><br>
	Es un protestador nato, un luchador satírico, una mente con un pensamiento tan diverso producto de su experiencia familiar y personal que trata de hacer oír su opinión por cualquier tema. No cree en la censura y no cree que haya temas más importantes que otros. Un día opina de política pero otro del precio de las bananas. Para él es lo mismo siempre que tenga un significado en su entorno. Está en una constante búsqueda de justicia social, del debate constructivo, de la lucha grupal por las causas individuales, de la pelea por los derechos innatos en cada ser viviente, del respeto y la armonía con el mundo. Cree en la democracia y los principios básicos de justicia, igualdad y fraternidad. <br><br>

</p>
</div>

<div class="mision">
	<div class="titleteo"> PERSONAJES</div>
	<div class="nombrepersonaje">CLARA</div>
	<p class="pmision">Es una política que nació en Monterrey. Tiene 60 años y es casada sin hijos. Poderosa, elegante e influyente, podría ser la primer presidente de México. <strong>Tiene un gemelo.</strong> 
	</p>
	<div class="nombrepersonaje">FEDERICO</div>
	<p class="pmision">Es un hombre de 70 años. Ha perdido la esperanza sobre los marcos e instituciones sociales. Es un protestador social con tintes lunáticos, nihilistas y una argumentativa muy retórica.  
	</p>
	<div class="nombrepersonaje">DON GERMÁN</div>
	<p class="pmision">Es un hombre de negocios nacido en Guadalajara. Tiene 54, es casado con hijos. Poderoso, refinado y de alta sociedad, influye en decisiones del país, Dueño de uno de los grupos empresariales más grandes del país.   
	</p>
	<div class="nombrepersonaje">JANA MARÍA</div>
	<p class="pmision">Es una doctora en ciencias de 54 años. Nació en la U.R.S.S. pero adoptó la ciudadanía rusa. Es casada con hijos. Es la experta en ciencias : física, química, aeroespacial, ingeniería, medicina,... 
	</p>
	<div class="nombrepersonaje">CAMILA</div>
	<p class="pmision">Es una bohemia nacida en Bahía Blanca, Argentina. Tiene 46 años y es soltera con dos hijos. Es música, bailarina, actriz, pintora y artista. Es pacifista y ecologista. Esta a favor de legalizar marihuana. 
	</p>
	<div class="nombrepersonaje">IRENE</div>
	<p class="pmision">Es una letrada nacida en Rennes, Francia. Tiene 45 años y es casada con hijos. Filósofa, poeta, escritora, historiadora humanista, feminista, izquierdista. Reconocida e influyente en el medio.  
	</p>
	<div class="nombrepersonaje">MARCOS </div>
	<p class="pmision">Es un godinez nacido en Barcelona, España. Tiene 30 años, es soltero pero esta “juntado” a su pareja (hombre). El es el economista, administrador, abogado, contador público, geek de tecnología. Urbano, conoce la ciudad, bares. 
	</p>
	<div class="nombrepersonaje">MIGUEL </div>
	<p class="pmision">Es un joven de 29 años nacido en San Francisco, E.U.A. Es soltero y sin hijos. Es atleta, reconocido campeón, actitud “capitán américa”. Quiere ser bombero o policía y le gusta entrarle a todo lo físico y de la naturaleza. 
	</p>
	<div class="nombrepersonaje">GUILLERMO</div>
	<p class="pmision">Es un del Distrito Federal. Tiene 28 años y un hijo. Es viajero, sociable, le gusta comer. Representa los gustos generales del mexicano. Bailarín, actor. Aficionado de los Pumas. Cómico.  
	</p>

</div>


<div class="footerline">
	<ul class="nav-bottom">
	<li class="liteo"><a href="/">TEOPHILO</a></li>
	<li>MEMARIOS </li>
	<li><a href="/tienda">TIENDA</a></li>
	<li>BLOGS</li>
	<li>NUESTRAS VOCES</li>
	<li><a href="/etica">CÓDIGO DE ÉTICA</a></li>
	<li><a href="/teo">TEO</a></li>
	<li><a href="/colabora">COLABORA CON NOSOTROS</a></li>
</ul>
</div>
