<div class="titleteo2">TÉRMINOS Y CONDICIONES</div>

<p class="pmision">Por favor, usted “usuario” o “autor” lea estos Términos de Servicio (en conjunto con la Política de privacidad de Teophilo, los "Términos de Servicio" o "Acuerdo") completa y cuidadosamente antes de utilizar teophilo.com y sus subdominios (el "Sitio"), las aplicaciones (las "Aplicaciones" ) y los servicios, características o contenidos ofrecidos por Teophilo, S.C. ("Teophilo" o "nosotros" o "nuestro"), (junto con el Sitio y las aplicaciones, los "Servicios"). Estas Condiciones del servicio establecen los términos y condiciones legalmente vinculantes para su uso del Sitio y los Servicios. </p>

<p class="pmision">Al visitar el Sitio, utilizando los Servicios y / o creando un Cómic, Memario o Monero, usted acepta quedar obligado por los términos y condiciones de estos Términos de uso y la política de privacidad de Teophilo, que se incorpora aquí por referencia. Si usted no está de acuerdo con todos los términos y condiciones de este Acuerdo, usted no tiene ningún derecho a utilizar los servicios que se le proveen como autor.</p>


<div class="titleteo"> I. CÓMIC Y USO DEL CONTENIDO</div>

<p class="pmision">Teophilo  contenido es gratuito para uso personal y con el fin de mantenerlo libre es necesario que las personas se adhieren a los siguientes Términos de Servicio. </p>

<p class="pmision">Todo nuestro contenido está protegido bajo las leyes de derechos de autor (INDAUTOR) y marca registrada (IMPI). Cualquier uso distinto del personal requiere permiso por escrito. Esto se aplica tanto a los cómics, Moneros y Memarios creados por Teophilo y por los Cómics, Moneros y Memarios creadas por el usuario.</p>

<p class="pmision">Usted no puede utilizar los Servicios para crear la publicidad, la promoción de un producto, marca, sitio Web, programa de medios sociales, página de la comunidad, o página de fans de Facebook sin el permiso escrito. </p>

<p class="pmision">Si usted está interesado en un programa de publicidad o de marketing en medios sociales pagado o patrocinado por Teophilo, por favor escriba a danielatc@teophilo.com para conocer los programas de comercialización. </p>

<p class="pmision">Si usted tiene página de comunidad, blog o de noticias y le gustaría pedir permiso para usar nuestro contenido, por favor escriba a ivan@teophilo.com</p>

<p class="pmision">Si usted está interesado en licenciar nuestro contenido, por favor escriba a aldaco@teophilo.com</p>


<div class="titleteo">II. COMPARTIR </div>

<p class="pmision">Es el deseo y motivación del equipo de Teophilo que usted comparta el contenido que ha creado y/o el contenido que otros han creado con fines no comerciales. Puede compartir los Cómics, Moneros y Memarios a través de nuestros servicios, con los botones de compartir en nuestros Servicios, o utilizando el código de incrustación y enlaces permanentes en nuestra Servicios. Si desea utilizar o compartir nuestro contenido fuera de nuestros servicios, usted sólo puede hacerlo enviando un correo electrónico a larriva@teophilo.com Usted no puede editar, alterar o descargar nuestro contenido sin nuestro permiso. Estas reglas se aplican a todo el contenido ya publicado en Teophilo.com tanto a los cómics creados por el autor y otros autores como también a los Memarios y Moneros creados en nuestros Servicios. </p>

<p class="pmision">Teophilo puede modificar este Acuerdo en cualquier momento mediante la publicación de un aviso en el Sitio o mediante el envío de los usuarios de los Servicios ("autor" o "usuario" o "Usuario Teophilo") una notificación vía e-mail. La visión de Teophilo supone un conducto de ética y respeto hacia los autores por lo que Teophilo se obliga a notificar cualquier cambio en términos y condiciones a los autores. Teophilo puede cambiar, suspender o interrumpir los Servicios, incluyendo cualquier material que aparecen en los Servicios (incluyendo pero no limitado a, texto, gráficos, imágenes, fotografías, ilustraciones, artículos, software, música, audio, video, e información, también conocido como el "contenido ") por cualquier motivo, en cualquier momento, incluyendo la disponibilidad de cualquier característica o contenido. Teophilo también puede imponer límites a ciertas características y servicios o restringir el acceso del usuario a la totalidad o parte de los Servicios sin previo aviso ni responsabilidad.</p>



<div class="titleteo">III. ELEGIBILIDAD </div>

<p class="pmision">Los servicios no son para su uso por personas menores de 18 años de edad. Usted tiene absoluta responsabilidad por el acceso y uso de los Servicios. Este acuerdo es nulo donde esté prohibido por la ley y el derecho a acceder a los Servicios se revoca en dichas jurisdicciones. Teophilo puede, a su sola discreción, negarse a ofrecer acceso a los Servicios a cualquier persona o entidad y cambiar sus criterios de elegibilidad en cualquier momento.</p>



<div class="titleteo">IV. RESTRICCIONES EN EL USO DE LOS SERVICIOS </div>

<p class="pmision">Como condición de su uso, usted se compromete a no utilizar los Servicios para ningún propósito que esté prohibido por el presente Acuerdo.</p>

<p class="pmision">Usted, además, garantiza, declara y acepta que no va a contribuir con cualquier Contenido de Usuario que sea calumnioso, difamatorio, obsceno, pornográfico, abusivo, indecente, amenazante, acosador, o de odio, o contenga un virus, caballo de Troya, gusanos, bombas de tiempo u otro rutina de programación de la computadora o en el motor que tiene la intención de dañar o interferir con cualquier sistema, datos o información perjudicial.</p>

<p class="pmision">Usted no puede utilizar los Servicios para violar los derechos de autor u otros derechos de propiedad intelectual o cualquier otro derecho de Teophilo o cualquier otra persona o entidad. Si usted cree que alguno de nuestro contenido infringe los derechos de autor, por favor, siga las instrucciones en nuestra Ley Digital Millennium Copyright Aviso al final de estas Condiciones del servicio. </p>

<p class="pmision">A modo de ejemplos de uso prohibido, y no como una limitación: </p>
<ul class="pmision" style="margin-left: 20%;">

<li>El autor de Teophilo no utilizará los Servicios para cartas en cadena, correo basura, spam o cualquier uso de listas de distribución a cualquier persona que no ha dado permiso específico para ser incluido en tal proceso.</li>

<li>El autor de Teophilo no transmitirá a través de los Servicios cualquier material falso, ilegal, ilegal, acosador, difamatorio, abusivo, amenazante, dañino, vulgar, obsceno, pornográfico u objetable de cualquier tipo o naturaleza.</li>


<li>El autor de Teophilo se compromete a no utilizar los Servicios para fines ilegales.</li>

<li>El autor de Teophilo (Usuario) se compromete a no transmitir a través de los Servicios de cualquier Contenido que contenga virus o cualquier otro código de computadora, archivos o programas diseñados o destinados a interrumpir, dañar, limitar o interferir con el correcto funcionamiento de cualquier software, hardware o telecomunicaciones equipo o dañar u obtener acceso no autorizado a cualquier sistema, datos, contraseña u otra información de la nuestra o de cualquier tercero.</li>

<li>El autor de Teophilo no podrá (directa o indirectamente): (i) descifrar, descompilar, desensamblar, realizar ingeniería inversa o intentar derivar el código fuente o ideas o algoritmos de cualquier parte de los Servicios (incluyendo, sin limitación, cualquier aplicación) subyacente, excepto en las leyes de forma limitada aplicables prohíban específicamente dicha restricción, (ii) modificar, traducir, o de lo contrario crear trabajos derivados de cualquier parte de los Servicios, o (iii) copiar, alquilar, arrendar, distribuir o transferir cualquiera de los derechos que recibir a continuación. Usted deberá cumplir con todas las leyes, estatales y regulaciones aplicables locales nacionales e internacionales. </li>
<li>El autor de Teophilo reconoce y acepta que Teophilo no pretende ser un servicio de correo electrónico anónimo. 

<li>Cada Cómic, Monero o Memario creado por el autor incluye la dirección IP (Protocolo de Internet) de la que se originó la sesión de inicio de sesión. Teophilo se compromete a no revelar, distribuir o hacer mal uso de cualquier dato obtenido. Los datos estadísticos del USUARIO sólo serán usados para fines internos, y no para venta a terceros. Esto se hace para la protección de los destinatarios de la tarjeta Teophilo. </li>

<li>Nos reservamos el derecho de acceder, leer, preservar y revelar cualquier información si creemos razonablemente que es necesario para (i) cumplir con cualquier ley, regulación, proceso legal o solicitud gubernamental aplicable, (ii) hacer cumplir estas Condiciones de Servicio, incluyendo la investigación de posibles violaciones del presente, (iii) detectar, prevenir, o de cualquier modo abordar el fraude, seguridad o temas técnicos, (iv) responder a solicitudes de asistencia de los usuarios o (v) proteger los derechos, propiedad o seguridad de nosotros, nuestros usuarios y el público .</li>

<li>Teophilo no tiene la obligación de ofrecer ningún pago para el Contenido que Usted presente, independientemente de si Teophilo comercializa dicho Contenido de Usuario en cualquier forma o la oportunidad de editar, borrar o modificar el Contenido del Usuario, una vez que se ha presentado a Teophilo. Teophilo no tendrá ninguna obligación de atribuir la autoría de los trabajos desarrollados por Teophilo mismo usando Contenido de Usuario, y no estará obligado a cumplir cualquier forma de atribución por parte de terceros. Esta política es necesaria porque el equipo de Teophilo está continuamente desarrollando y creando sus propias ideas y materiales. Teophilo actualmente puede tener o haber tenido acceso y / o pueden crear de forma independiente o se han creado memarios/moneros/comic diario u otros materiales que pueden ser similares o idénticas a las ideas, temas, u otros elementos de su contenido de usuario.</li>
</ul>
<p class="pmision">Para denunciar una violación de los Términos de Servicio de Teophilo, por favor envíenos un correo electrónico a larriva@teophilo.com</p>



<div class="titleteo">V. INSCRIPCIÓN</div>

<p class="pmision">Para que el autor pueda acceder al generador de comics y a toda la interfaz diseñada para AUTOR, éste deberá:</p>
<ul class="pmision" style="margin-left: 20%;">
<li>Presentar datos generales (edad, género, ocupación, estado civil, dirección, teléfonos, etc.), que serán requeridos por seguridad y control. (Consultar aviso de privacidad)</li>
<li>Presentar una dirección de correo electrónico válida durante el proceso de registro para comunicación en el equipo de Teophilo.</li>
<li>El equipo de Teophilo le generará un usuario y contraseña para uso exclusivo de la plataforma de creación de comics diarios de Teophilo.</li>
</ul>
<p class="pmision">Usted no podrá: </p>
<ul class="pmision" style="margin-left: 20%;">
<li>Usar una cuenta de otro autor o administrador dentro de Teophilo.com que no sea la generada personalmente por el equipo de Teophilo. El uso incorrecto de los usuarios y contraseñas dentro de Teophilo.com, provocará la recesión inmediata de contrato.</li>
<li>Seleccionar o usar como usuario nombrar el nombre de otra persona con la intención de hacerse pasar por esa persona; utilizar como nombre de su usuario un nombre sujeto a los derechos de una persona que no sea usted, sin la debida autorización; o utilizar como nombre de su usuario un nombre que sea de otra manera ofensiva, vulgar u obsceno.</li>
<li>Teophilo se reserva el derecho a denegar el registro de, o cancelar una cuenta bajo su sola discreción. Usted es el único responsable de la actividad que ocurre en su cuenta y será responsable de mantener la confidencialidad de su contraseña en Teophilo.com.</li>
</ul>

<div class="titleteo">VI. CONTENIDO</div>

<p class="pmision">Los elementos de contenido y otros que aparecen en los Servicios son para su uso personal. Los Servicios y el Contenido están protegidos por derechos de autor como un trabajo colectivo y / o compilación, conforme a las leyes de derechos de autor de los Estados Unidos Mexicanos, INDAUTOR, convenciones internacionales y otras leyes de derechos de autor. Teophilo le otorga una licencia revocable y temporal, no endosable para crear el contenido, visualizar el contenido y transmitir el contenido a través de los Servicios; proporcionado, que conserve todos los derechos de autor y otros avisos de propiedad contenidos en el mismo. Excepto como se establece en estos Términos de Servicio, reproducir, copiar o distribuir cualquier contenido, materiales o elementos de diseño en los Servicios de Teophilo para ningún propósito que no sea personal, uso no comercial está estrictamente prohibida sin el permiso previo por escrito de Teophilo. </p>

<p class="pmision">Si desea incluir o publicar cualquiera de los contenidos en otro sitio web, usted debe: </p>
<ul class="pmision" style="margin-left: 20%;">
<li>Utilizar los botones de compartir en los Servicios.</li>
<li>Utilizar el código de inserción o enviar el enlace del contenido SÓLAMENTE. </li>
<li>Cualquier otra descarga de contenido o arrastrándolo a un sitio de terceros viola nuestros derechos de Contenido.</li>
</ul>

<p class="pmision">Excepto como se establece en estos Términos de Servicio, usted no puede alterar o modificar de cualquier imagen en los Servicios (incluyendo mediante la colocación de los logotipos en el contenido creado, publicar, transmitir, participar en la transferencia o venta de, copiar, reproducir, descargar, cargar, transmitir, crear trabajos derivados basados ​​en, distribuir, ejecutar, exhibir o en cualquier manera explotar cualquiera de los contenidos (que no sea su contenido de usuario previamente a su publicación) en los Servicios o cualquier otro sitio web propiedad, operado, licenciado o controlado por Teophilo, en su totalidad o en parte. </p>
<p class="pmision">Además, usted no puede realizar ingeniería inversa, descompilar o desensamblar cualquier contenido, ni utilizar o descargar cualquier imagen por separado y / o fuera del producto o servicio asociado. </p>
<p class="pmision">Nos reservamos el derecho de permitir la publicación o uso del contenido para fines comerciales, pero sólo después de la autorización previa de nosotros, a través de los contactos larriva@teophilo.com; aldaco@teophilo.com; ivan@teophilo.com; danielatc@teophilo.com;  </p>
<p class="pmision">Usted deberá respetar todos los avisos de derechos de autor, información y restricciones contenidas en cualquier Contenido accedido a través de los Servicios.</p>

<div class="titleteo">VII. RENUNCIA </div>
<p class="pmision">El autor de Teophilo reconoce que éste no tiene control sobre él, y no está obligado a tomar medidas en relación con el cual los usuarios obtienen acceso a los Servicios, el contenido que se accede a través de los Servicios, los efectos que el contenido puede tener sobre usted, ¿cómo es posible interpretar o utilizar el contenido, o qué acciones puede tomar como resultado de haber sido expuesto al Contenido. Usted libera Teophilo.com de toda responsabilidad por el contenido que tiene adquirida adquirido o no a través de los Servicios. Los Servicios pueden contener, o usuarios directos a sitios que contengan, materiales que algunas personas podrían considerar ofensiva o inapropiada.</p>

<div class="titleteo">VIII. INDEMNIZACIÓN </div>

<p class="pmision">Usted deberá indemnizar y mantener Teophilo, sus matrices, subsidiarias, afiliados, funcionarios y empleados, inofensivos, incluidos los gastos y honorarios de abogados, de cualquier reclamo o demanda hecha por un tercero a causa o como consecuencia de su acceso a los Servicios, su violación de este Acuerdo, o la violación por usted o cualquier tercero que use su cuenta Teophilo de cualquier propiedad intelectual u otro derecho de cualquier persona o entidad.</p>


<div class="titleteo">IX. SITIOS DE TERCEROS</div> 

<p class="pmision">Los Servicios pueden permitirle a vincular a otros sitios web o recursos en Internet, y otros sitios web o recursos pueden contener enlaces a los Servicios. Estos otros sitios web no están bajo el control de Teophilo y usted reconoce que Teophilo no es responsable por el contenido, funciones, precisión, legalidad, idoneidad o cualquier otro aspecto de dichos sitios o recursos. La inclusión de dichos enlaces no implica aprobación por Teophilo, ni asociación con sus operadores. Además, usted reconoce y acepta que Teophilo no será responsable o estará obligado, directa o indirectamente, por cualquier daño o pérdida causada o supuestamente causada por o en conexión con el uso o confianza en cualquier contenido, tales bienes o servicios disponibles en o través de cualquier sitio web o recurso.</p>

<div class="titleteo">X. FINALIZACIÓN </div>

<p class="pmision">Cualquiera de las partes podrá denunciar el presente Acuerdo en cualquier momento mediante notificación a la otra parte por cualquier medio. Teophilo también puede terminar este Acuerdo inmediatamente y sin previo aviso si la sola discreción Teophilo 'usted no cumple con cualquier término o disposición de este Acuerdo. Cualquier tasa continuación pagados no son reembolsables. Tras la rescisión, el derecho a acceder y utilizar los Servicios y el Contenido cesará inmediatamente. Todas las disposiciones de este Acuerdo que por su naturaleza deberían sobrevivir a la terminación sobrevivirán la terminación, incluyendo, sin limitación, las disposiciones de propiedad, renuncias de garantía, indemnización y limitaciones de responsabilidad.</p>


<div class="titleteo">XI. AVISO DE COPYRIGHT</div>

<p class="pmision">Teophilo ha adoptado la siguiente política general hacia la infracción de derechos de autor con arreglo en el INDAUTOR (http://www.indautor.gob.mx/?navegador2=%271%27&valor=). La dirección del agente designado Teophilo para recibir la notificación de la infracción reclamada ("Agente Designado") es ivan@teophilo.com</p>

<p class="pmision">Es política de Teophilo:</p>

<p class="pmision">     1. Bloquear el acceso a  eliminar Contenido que cree de buena fe que el material con derechos de autor que se ha copiado y distribuido ilegalmente por alguno de nuestros anunciantes, afiliados, proveedores de contenido, miembros o usuarios.</p>
<p class="pmision">     2. Retirar y suspender el servicio a los reincidentes.</p>

<p class="pmision">Si usted cree que el Contenido que residen en o accesibles a través de los Servicios infrinja un derecho de autor, por favor envíe una notificación de infracción de derechos de autor correo postal a aldaco@teophilo.com, que deberá incluir lo siguiente:</p>
<ul class="pmision" style="margin-left: 20%;">
<li>Una firma física o electrónica de una persona autorizada para actuar en nombre del propietario de los derechos de autor que ha sido presuntamente infringido.</li>
<li>Identificación de las obras o materiales que se ha infringido.</li>
<li>La identificación de los contenidos que se demanda para infringir los datos relativos a la ubicación del contenido que el propietario del copyright solicita la retirada, con suficiente detalle para que Teophilo es capaz de encontrar y verificar su existencia.</li>
<li>Información sobre el notificador de contacto incluyendo dirección, número de teléfono y, si está disponible, dirección de correo electrónico.</li>
<li>Una declaración de que el notificador tiene una creencia de buena fe de que el contenido no está autorizado por el propietario del copyright, su agente o la ley.</li>
<li>Una declaración hecha bajo pena de perjurio que la información proporcionada es exacta y la parte notificante está autorizado a realizar la denuncia en nombre del propietario del copyright. </li>
<li>Una vez que la notificación de infracción adecuada es recibida por el agente designado, que es la política Teophilo para quitar o deshabilitar el acceso al contenido infractor; para notificar al proveedor de contenido, miembro o usuario que ha eliminado o inhabilitado el acceso a los Contenidos; y que los reincidentes tendrán el contenido infractor elimina del sistema y que va a terminar Teophilo, el acceso del usuario de tal proveedor de contenido de miembro o de los Servicios. </li>
</ul>


<div class="titleteo">XII. DECLARACIÓN DE PRIVACIDAD</div> 
<p class="pmision">En Teophilo tenemos el firme compromiso de proteger la privacidad y la seguridad de nuestros autores. Aviso de Privacidad actual de Teophilo se encuentra en http://www.teophilo.com/aviso. Para consultas en relación con la política de privacidad, o para reportar un problema relacionado, por favor póngase en contacto con aldaco@teophilo.com; larriva@teophilo.com; ivan@teophilo.com</p>