<h1>Nueva tira</h1>
<script type="text/javascript">
			jQuery(document).ready(function () {
					$("#tira_titulo").on("change", function () {
				        $("#1titulo").html(this.value);
				    });

				    $("#tira_text1").on("change", function () {
				        $("#texto1").html(this.value);
				    });
				    $("#tira_texto_personaje_cuadro1").on("change", function () {
				        $("#textopersonajecuadro1").html(this.value);
				    });

				    $("#tira_text2").on("change", function () {
				        $("#texto2").html(this.value);
				    });

				    $("#tira_texto_personaje_cuadro2").on("change", function () {
				        $("#textopersonajecuadro2").html(this.value);
				    });

				    $("#tira_text3").on("change", function () {
				        $("#texto3").html(this.value);
				    });

				    $("#tira_texto_personaje_cuadro3").on("change", function () {
				        $("#textopersonajecuadro3").html(this.value);
				    });

				    $("#tira_text4").on("change", function () {
				        $("#texto4").html(this.value);
				    });

				    $("#tira_texto_personaje_cuadro4").on("change", function () {
				        $("#textopersonajecuadro4").html(this.value);
				    });

				    $("#tira_text5").on("change", function () {
				        $("#texto5").html(this.value);
				    });

				    $("#tira_texto_personaje_cuadro5").on("change", function () {
				        $("#textopersonajecuadro5").html(this.value);
				    });

				    $("#tira_text6").on("change", function () {
				        $("#texto6").html(this.value);
				    });

				    $("#tira_texto_personaje_cuadro6").on("change", function () {
				        $("#textopersonajecuadro6").html(this.value);
				    });

				});
</script>
<%= render 'form' %>

<h1 class="titulo1" id="1titulo"></h1>
<div class="formcomic">
	<div class="formcontainer1" id= "formcontainer1">
		<p class="ntexto1" id="texto1"></p>
		<p class="ntextopersonajecuadro1" id="textopersonajecuadro1"></p>
	</div>
	<div class="formcontainer2" id= "formcontainer2">
		<p class="ntexto2" id="texto2"></p>
		<p class="ntextopersonajecuadro2" id="textopersonajecuadro2"></p>
	</div>
	<div class="formcontainer3" id= "formcontainer3">
		<p class="ntexto3" id="texto3"></p>
		<p class="ntextopersonajecuadro3" id="textopersonajecuadro3"></p>
	</div>
	<div class="formcontainer4" id= "formcontainer4">
		<p class="ntexto4" id="texto4"></p>
		<p class="ntextopersonajecuadro4" id="textopersonajecuadro4"></p>
	</div>
	<div class="formcontainer5" id= "formcontainer5">
		<p class="ntexto5" id="texto5"></p>
		<p class="ntextopersonajecuadro5" id="textopersonajecuadro5"></p>
	</div>
	<div class="formcontainer6" id= "formcontainer6">
		<p class="ntexto6" id="texto6"></p>
		<p class="ntextopersonajecuadro6" id="textopersonajecuadro6"></p>
	</div>
</div>

<%= link_to 'Back', tiras_path %>
