<h1 class="title_section2">NUEVA TIRA</h1>
<script type="text/javascript">
			jQuery(document).ready(function () {
					$("#tira_titulo").on("change", function () {
				        $("#1titulo").html(this.value);
				    });

				    $("#tira_text1").on("change", function () {
				        $("#texto1").html(this.value);
				    });
				    $("#tira_texto_personaje_cuadro1").on("change", function () {
				        $("#textopersonajecuadro1").html(this.value);
				    });

				    $("#tira_text2").on("change", function () {
				        $("#texto2").html(this.value);
				    });

				    $("#tira_texto_personaje_cuadro2").on("change", function () {
				        $("#textopersonajecuadro2").html(this.value);
				    });

				    $("#tira_text3").on("change", function () {
				        $("#texto3").html(this.value);
				    });

				    $("#tira_texto_personaje_cuadro3").on("change", function () {
				        $("#textopersonajecuadro3").html(this.value);
				    });

				    $("#tira_text4").on("change", function () {
				        $("#texto4").html(this.value);
				    });

				    $("#tira_texto_personaje_cuadro4").on("change", function () {
				        $("#textopersonajecuadro4").html(this.value);
				    });

				    $("#tira_text5").on("change", function () {
				        $("#texto5").html(this.value);
				    });

				    $("#tira_texto_personaje_cuadro5").on("change", function () {
				        $("#textopersonajecuadro5").html(this.value);
				    });

				    $("#tira_text6").on("change", function () {
				        $("#texto6").html(this.value);
				    });

				    $("#tira_texto_personaje_cuadro6").on("change", function () {
				        $("#textopersonajecuadro6").html(this.value);
				    });

				});
</script>
<%= render 'form' %>






<div class="comic_new">
	<h1 class="titulo" id="1titulo"></h1>
	<div class="row">   
			<div class="large-4 columns">
				<div class="panel">
					<img src="/assets/1.png"/>
					<p class="panel_char1"  id="texto1" style="color: #000;"></p>
					<p class="panel_char2"  id="textopersonajecuadro1" style="color: #000;"></p>
				
				</div>
			</div>
			<div class="large-4 columns">
				
					<div class="panel">
						<img id="img_2" src="/assets/2.png"/>
						<p class="panel_char11"  id="texto2" style="color: #000;"></p>
						<p class="panel_char22"  id="textopersonajecuadro2" style="color: #000;"></p>
					</div>
				</a>
			</div>
			<div class="large-4 columns">
					<div class="panel">
						<img src="/assets/3.png"/>
						<p class="panel_char1"  id="texto3" style="color: #000;"></p>
						<p class="panel_char2"  id="textopersonajecuadro3" style="color: #000;"></p>
					</div>
			</div>
		</div>

		<div class="row">   
			<div class="large-4 columns">
				<div class="panel">
					<img id="img_4" src="/assets/4.png"/>
					<p class="panel_char1"  id="texto4" style="color: #000;"></p>
					<p class="panel_char2"  id="textopersonajecuadro4" style="color: #000;"></p>
				
				</div>
			</div>
			<div class="large-4 columns">
				
					<div class="panel">
						<img src="/assets/5.png"/>
						<p class="panel_char1"  id="texto5" style="color: #000;"></p>
						<p class="panel_char2"  id="textopersonajecuadro5" style="color: #000;"></p>
					</div>
				</a>
			</div>
			<div class="large-4 columns">
					<div class="panel">
						<img  id="img_6" src="/assets/6.png"/>
						<p class="panel_char1"  id="texto6" style="color: #000;"></p>
						<p class="panel_char2"  id="textopersonajecuadro6" style="color: #000;"></p>
					</div>
			</div>
		</div>

	
</div>

